// Brand Colors
// -------------------------

$brand-primary: #4d90fc;
$brand-success: #60bf60;
$brand-warning: #ff9800;
$brand-danger: #de4b33;
$brand-info: #5bc0dd;

// Typography
// -------------------------

$headings-font-family: 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace;

// Buttons
// -------------------------

$btn-primary-border: #008000;
$btn-success-border: #008000;
$btn-warning-border: #008000;
$btn-danger-border: #008000;
$btn-info-border: #008000;

// Forms
// -------------------------

$input-border-radius: 0;
$input-border-focus: #2598f9;

// Form states and alerts
// -------------------------

$state-success-text: #008000;
$state-success-bg: transparent;
$state-success-border: #008000;

$state-info-text: #008000;
$state-info-bg: transparent;
$state-info-border: #008000;

$state-warning-text: #008000;
$state-warning-bg: transparent;
$state-warning-border: #008000;

$state-danger-text: #008000;
$state-danger-bg: transparent;
$state-danger-border: #008000;


// Navbar
// -------------------------

$navbar-default-bg: #000;
$navbar-default-link-color: rgba(0, 128, 0, 0.5);
$navbar-default-link-hover-color: rgba(0, 128, 0, 1);
$navbar-default-link-active-color: rgba(0, 128, 0, 1);
$navbar-default-link-hover-bg: transparent;
$navbar-default-link-active-bg: transparent;
$navbar-default-color: rgba(0, 128, 0, 0.5);
$navbar-default-brand-hover-color: rgba(0, 128, 0, 1);
